[paths]
source_dir = "C:\project"
output_dir = "C:\output"

[patterns]
include =
    .env
    composer.json
    package.json
    app/**/*.php
    bootstrap/*.php
    config/**/*.php
    database/migrations/*.php
    resources/assets/js/*.js
    resources/assets/vendor/js/*.js
    resources/views/content/app/**/*.blade.php
    resources/views/content/app/**/*.scss
    resources/views/content/app/**/*.js
    routes/**/*.php

exclude =
